@import "tailwindcss";

:root {
  --foreground: #f5f5f7;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@layer utilities {
  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    70% {
      transform: scale(1.8);
      opacity: 0;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .animate-ripple {
    animation: ripple 1.5s ease-out infinite;
  }
}
